@model IEnumerable<Product>

    @foreach (var item in Model)
    {

        <div class="mb-50" data-id="@item.CategoryId">
            <div class="product-item text-center" data-id="@item.CategoryId">
                <input type="hidden" class="product-id" value="@item.Id" />
                <div class="product-thumb">
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                        <img src="~/assets/img/product/@item.ProductImages.FirstOrDefault(m=>m.IsMain)?.Image" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <h5 class="product-name">
                        <a asp-controller="Product" asp-action="Index">@item.Title</a>
                    </h5>
                    <div class="price-box">
                        <span class="price-regular">$@item.Price</span>
                        <span class="price-old"><del>$@item.Discount%</del></span>
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                        <a asp-controller="basket" asp-action="AddBasket" asp-route-id="@item.Id" data-id="@item.Id" class="add-to-cart" data-toggle="tooltip" title="Add To Cart"><i class="add-to-cart ion-bag"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quick_view">
                            <span data-toggle="tooltip"
                                  title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    }
