@model List<Product>
@{
    ViewData["Title"] = "Shop";
}

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">shop</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">shop</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- page main wrapper start -->
    <div class="shop-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <!-- sidebar area start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="sidebar-wrapper">
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>Categories</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul class="color-list category-tab">
                                    @foreach (Category category in ViewBag.Categories)
                                    {
                                        <li><a href="@category.Name">@category.Name</a></li>
                                    }


                                </ul>
                                @*<ul class="color-list">
                                        @foreach (Category category in ViewBag.Categories)
                                        {
                                            <li><a href="@category.Name">@category.Name (@category.ProductCategories.Count)</a></li>


                                        }
                                    </ul>*@
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>filter by price</h3>
                            </div>
                            <div class="sidebar-body">
                                <div class="price-range-wrap">
                                    <div class="price-range" data-min="20" data-max="400"></div>
                                    <div class="range-slider">
                                        <form action="#">
                                            <div class="price-input">
                                                <label for="amount">Price: </label>
                                                <input type="text" id="amount">
                                            </div>
                                            <button class="filter-btn">filter</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>color</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul class="color-list">
                                    @foreach (var item in @ViewBag.Colors)
                                    {
                                        <li><a href="#">@item.Name <span>(@item.Count)</span></a></li>

                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>size</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul class="size-list">
                                    @foreach (var item in @ViewBag.Sizes)
                                    {
                                        <li><a href="#">@item.Name <span>(@item.Count)</span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-banner">
                                <a href="#">
                                    <img src="~/assets/img/banner/@ViewBag.ShopBanner.Image" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                    </div>
                </div>
                <!-- sidebar area end -->
                <!-- shop main wrapper start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="shop-product-wrapper">
                        <!-- shop product top wrap start -->
                        <div class="shop-top-bar">
                            <div class="row">
                                <div class="col-xl-5 col-lg-4 col-md-3 order-2 order-md-1">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a class="active" href="#" data-target="grid-view"><i class="fa fa-th"></i></a>
                                            <a href="#" data-target="list-view"><i class="fa fa-list"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-8 col-md-9 order-1 order-md-2">
                                    <div class="top-bar-right">
                                        <div class="product-short">
                                            <p>Sort By : </p>
                                            @*<p class="d-none" id="getvalue">@ViewBag.id</p>
                                            <select class="nice-select" id="select">
                                                <option value="1">Relevance</option>
                                                <option value="2">Name (A - Z)</option>
                                                <option value="3">Name (Z - A)</option>
                                                <option value="4">Price (Low &gt; High)</option>
                                                <option value="5">Price (High &gt; Low)</option>

                                            </select>*@
                                            <p class="d-none" id="getvalue">@ViewBag.id</p>
                                            <select name="" id="select">
                                                <option value="1">Default</option>
                                                <option value="5">Low to high</option>
                                                <option value="4">High to low</option>
                                                <option value="3">A to Z</option>
                                                <option value="2">Z to A</option>

                                            </select>
                                        </div>
                                        <div class="product-amount">
                                            <p>Showing 1–16 of 21 results</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop product top wrap start -->
                        <!-- product item list start -->
                        <div class="shop-product-wrap grid-view row mbn-50">
                            @foreach (var item in Model)
                            {


                                <div class="col-lg-4 col-sm-6 p-items"  style="display:block;" data-id="@foreach (ProductCategories items in item.ProductCategories)
                                       {
                                           @(items.Category.Name )
                                       }">
                                    <!-- product grid item start -->
                                    <div class="product-item mb-53">
                                        <div class="product-thumb">
                                            <a asp-controller="Product" asp-action="Index">
                                                <img src="~/assets/img/product/@item.Image" alt="">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h5 class="product-name">
                                                <a asp-controller="Product" asp-action="Index">@item.Title</a>
                                            </h5>
                                            <div class="price-box">
                                                <span class="price-regular">$@item.Price</span>
                                                <span class="price-old"><del>$@(item.Price * (100 + item.Campaign.DiscountPercent)/100)</del></span>
                                            </div>
                                            <div class="product-action-link">
                                                <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                                <a href="#" data-toggle="modal" data-target="#quick_view">
                                                    <span data-toggle="tooltip"
                                                          title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product grid item end -->
                                    <!-- product list item start -->
                                    <div class="product-list-item mb-30">
                                        <div class="product-thumb">
                                            <a asp-controller="Product" asp-action="Index">
                                                <img src="~/assets/img/product/@item.Image" alt="product thumb">
                                            </a>
                                        </div>
                                        <div class="product-content-list">
                                            <h5 class="product-name">
                                                <a asp-controller="Product" asp-action="Index">@item.Title</a>
                                            </h5>
                                            <div class="price-box">
                                                <span class="price-regular">$@item.Price</span>
                                                <span class="price-old"><del>$@item.Discount</del></span>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere
                                                metus vitae arcu imperdiet, id aliquet ante scelerisque. Sed sit amet
                                                sem vitae urna fringilla tempus.
                                            </p>
                                            <div class="product-link-2 position-static">
                                                <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                                <a href="#" data-toggle="modal" data-target="#quick_view">
                                                    <span data-toggle="tooltip"
                                                          title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product list item start -->
                                </div>
                            }

                            <!-- start pagination area -->
                            <div class="paginatoin-area text-center mt-45">
                                <ul class="pagination-box">






                                    <a asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)" style="pointer-events:@(ViewBag.Currentpage == 1 ? "none" : "");" class="previous page-numbers" title="Pervious Page"><i class="fa-solid fa-angle-left"></i></a>
                                    @for (int i = 1; i < ViewBag.TotalPage; i++)
                                    {
                                        <a class="page-numbers " style="pointer-events:@(ViewBag.CurrentPage == i ? "block" : "");" asp-controller="shop" asp-action="index" asp-route-page="@i">@i</a>

                                    }
                                    <a asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)" class="next page-numbers" title="Next Page"><i class="fa-solid fa-angle-right"></i></a>














                                </ul>
                            </div>
                            <!-- end pagination area -->
                        </div>
                    </div>
                    <!-- shop main wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- page main wrapper end -->
</main>
<!-- main wrapper end -->
<!-- Quick view modal start -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider mb-20">
                                <div class="pro-large-img img-zoom">
                                    <img src="~/assets/img/product/product-details-img1.jpg" alt="product thumb" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="~/assets/img/product/product-details-img2.jpg" alt="product thumb" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="~/assets/img/product/product-details-img3.jpg" alt="product thumb" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="~/assets/img/product/product-details-img4.jpg" alt="product thumb" />
                                </div>
                            </div>
                            <div class="pro-nav slick-row-5">
                                <div class="pro-nav-thumb"><img src="~/assets/img/product/product-details-img1.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="~/assets/img/product/product-details-img2.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="~/assets/img/product/product-details-img3.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="~/assets/img/product/product-details-img4.jpg" alt="" /></div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des">
                                <h3 class="pro-det-title">Primitive Mens Premium Shoes</h3>
                                <div class="pro-review">
                                    <span><a href="#">1 Review(s)</a></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">$70.00</span>
                                    <span class="old-price"><del>$80.00</del></span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                <div class="quantity-cart-box d-flex align-items-center mb-20">
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>
                                    <a asp-controller="Basket" asp-action="Index" class="btn btn-default">Add To Cart</a>
                                </div>
                                <div class="availability mb-20">
                                    <h5 class="cat-title">Availability:</h5>
                                    <span>In Stock</span>
                                </div>
                                <div class="share-icon">
                                    <h5 class="cat-title">Share:</h5>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details inner end -->
            </div>
        </div>
    </div>
</div>
<!-- Quick view modal end -->
@section ScriptsJs{
    <script>
        var option = document.querySelectorAll("#select option")
        var id = document.getElementById("getvalue").innerHTML
        console.log(id)
        for (i = 0; i <= option.length - 1; i++) {
            if (option[i].value == id) {
                option[i].setAttribute("selected", "true")
            }
        }
        $(document).ready(function () {

            $(document).on("click", "#select", function (e) {

                var base = window.location.origin;
                var url = `${base}/shop?sortId=${$(this).val()}`
                window.location.replace(url)

            })
        });
    </script>
    <script>
        $(".category-tab a").click(function (e) {
            e.preventDefault();

            var id = $(this).attr("href")

            var items = document.querySelectorAll(".p-items")
            items.forEach(item => {
                item.style.display = "none"
                var a = item.getAttribute("data-id")

                if (a.includes(id)) {
                    item.style.display = "block"
                }
            })


        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}